if SHIELD_DO52PRO_LEFT

config ZMK_KEYBOARD_NAME
    default "do52pro"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DO52PRO_LEFT || SHIELD_DO52PRO_RIGHT
config ZMK_SPLIT
    default y
endif
